@import './fonts.css';
@import './helpers.css';

body {
    margin: 0;
    padding: 0;
}

.email-home {
    margin: 10px;
    padding: 20px;
    border: 3px solid red;
}

.emails-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.email-preview {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

.mail-details-item {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mail-from {
    min-width: 20%;
}

.mail-subject {
    min-width: 65%;
}

.sent-at {
    min-width: 15%;
}

.email-preview {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

.email-list {
    min-width: 60%;
    /* width: 30%; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.email-list ul li {
    list-style: none;
}

.email-preview {
    min-width: 30%;
}

.email-details > .btn {
    margin: 0 0 0 70%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    /* border-radius: 6px; */
    background-color: lightgreen;
    /* font-family: "Open Sans" */
}

.email-details{
    font-family: "Open Sans"
}

.email-details > h2{
    font: bold;
}

